*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    text-align: center;
    background-color: rgb(2, 2, 14);
}

.menu{
    background-color: rgb(197, 197, 197);
    width: 100vw;
    padding: 10px;

}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: black;

}

.menu a:hover{
    color: white;
    

}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.container {
    width: 100vw;
    
}

.apresentacao{
    margin: 10%;
}

.titulo{
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

.subtitulo{
    color: rgb(126, 125, 125);
}

